.DS_Store

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
*/out/

# Secrets
secret/

# Function ZIP archive
function.zip